{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": false
  },
  "rules": {
    "import/no-unresolved": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "max-len": ["error", { "code": 180 }],
    "linebreak-style": [0, "error", "windows"]
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}